.outer{
    height: 500px;
    width: 500px;
    background-color: aqua;
    position: absolute;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: fixed;
    top:0;

}
.super{
    height: 2000px;
    width: 1000px;
    background-color: gray;
    position: absolute;
}