.outer{
    height: 500px;
    width: 500px;
    background-color: aqua;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: sticky;
    top: 0;
    left: 0;
}
.super{
    height: 2000px;
    width: 1000px;
    background-color: gray;
    position: absolute;
}